@page
@model FP2.Pages.YourCourses.MediaModel
@{
    ViewData["Title"] = "Media";
}

<h1>Media</h1>

<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZtfItHwFlZ8" frameborder="0" allowfullscreen></iframe>